<p class="h1" style="text-align: center; background-color:lightgoldenrodyellow; color: crimson;"> PGH International Group of Hotel</p>


<div class="nav">
  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle"/>

  <div class="menu">

 
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " routerLink="/">HOME</a>
  </li>

  <li class="nav-item ">
    <a class="nav-link "  routerLink="about">ABOUT US</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="order">ORDER FOOD</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="travel" tabindex="-1" >TRAVEL GUIDE</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="feedback" tabindex="-1" >FEEDBACK</a>
  </li>
</ul>
</div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>

